<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <style>
    body {
      display: flex;
      align-items: center; 
      height: 100vh;
      margin: 0;
      flex-direction: column;
      padding-top: 10px;
    }

    img {
      width: 500px; 
      height: auto; 
      border-radius: 8px;
    }

    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>Todo App</h1>
  <img src="<%= @image_path %>" alt="Random Image" />
</body>
</html>